#Ejercicio 1:
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados

In [40]:
MATRICULA="1937834"
NOMBRE="IRLANDA FLORES"

#Ejercicio 2:
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [21]:
N1=int(input("INGRESE EL NUMERO 1: "))
N2=int(input("INGRESE EL NUMERO 2: "))

SUMA= N1+N2
RESTA=N1-N2
MULT=N1*N2
DIV=N1/N2
EXP=N1**N2
print("\t\tOPERACIONES REALIZADAS CON LOS NUMEROS INGRESADOS\n")
print("SUMA: %f\nRESTA: %f\nMULTIPLICACION: %f\nDIVISION: %f \nEXPONENTE: %f "%(SUMA,RESTA,MULT,DIV,EXP))

INGRESE EL NUMERO 1: 2
INGRESE EL NUMERO 2: 2
		OPERACIONES REALIZADAS CON LOS NUMEROS INGRESADOS

SUMA: 4.000000
RESTA: 0.000000
MULTIPLICACION: 4.000000
DIVISION: 1.000000
EXPONENTE: 4.000000

#Ejercicio 3:
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo

In [44]:
NUMEROS=[]
SUMA=0
i=0
for i in range(3,33,3):
    NUMEROS.append(i)
print("LISTA DE MULTIPLOS DEL 3\n",NUMEROS)
i=0
while i<10:
    SUMA=NUMEROS[i]+SUMA
    i+=1
print("SUMA DE LOS NUMEROS DE LA LISTA\n",SUMA)

LISTA DE MULTIPLOS DEL 3
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
SUMA DE LOS NUMEROS DE LA LISTA
 165

#Ejercicio 4
Con una función de if else, revisar si un número es par o es impar.
Con una función de if else, revisar si un número es primo o no

In [59]:
NUM=int(input("INGRESE UN NUMERO: "))
#NUMERO PAR
if NUM%2==0:
    print("EL NUMERO ES PAR")
else:print("EL NUMERO ES IMPAR")
#NUMERO PRIMO, AQUEL QUE TIENE 2 DIVISIONES: EL 1 Y SI MISMO
i=0
CONTADOR=0
for i in range(1,NUM+1):
    if NUM%i==0:
        CONTADOR+=1
if CONTADOR>2:
    print("EL NUMERO NO ES PRIMO")
else: print("EL NUMERO ES PRIMO")

INGRESE UN NUMERO: 7
EL NUMERO ES IMPAR
EL NUMERO ES PRIMO

#Ejercicio 5
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [76]:
def SUMA(N1,N2):
    OPERACION=N1+N2
    return OPERACION
def RESTA(N1,N2):
    OPERACION=N1-N2
    return OPERACION
def MULT(N1,N2):
    OPERACION=N1*N2
    return OPERACION
def DIV(N1,N2):
    OPERACION=N1/N2
    return OPERACION
def EXP(N1,N2):
    OPERACION=N1**N2
    return OPERACION

N1=int(input("INGRESE EL NUMERO 1: "))
N2=int(input("INGRESE EL NUMERO 2: "))
print("SUMA: ",SUMA(N1,N2),"\nRESTA: ",RESTA(N1,N2),"\nMULTIPLICACION: ",MULT(N1,N2),"\nDIVISION: ",DIV(N1,N2),"\nEXPONENTE: ",EXP(N1,N2))

INGRESE EL NUMERO 1: 2
INGRESE EL NUMERO 2: 2
SUMA:  4
RESTA:  0
MULTIPLICACION:  4
DIVISION:  1.0
EXPONENTE:  4

# Ejercicios con estructuras básicas de python
# # TUPLAS
Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

Crear una tupla con valores enteros imprimir el primer y ultimo valor.

Añadir 3 valores de string a la tupla.

Verificar si una variable existe dentro de la tupla.

In [168]:
ENTERO=1
FLOTANTE=2.55
BOLEANA=True
COMPLEJA=1+5j
print(type(ENTERO),type(FLOTANTE),type(BOLEANA),type(COMPLEJA))

TUPLA=(1,2,3,4,5,6,7,8,9,10,'IRLANDA','VICTORIA','1937834')
print("PRIMER DIGITO: ",TUPLA[0],"ULTIMO DIGITO: ",TUPLA[9])
TUPLA=str(TUPLA)
DATO=str(input("INGRESE UN DATO: "))
print(DATO in TUPLA)

<class 'int'> <class 'float'> <class 'bool'> <class 'complex'>
PRIMER DIGITO:  1 ULTIMO DIGITO:  10
INGRESE UN DATO: IRLANDA
True

## LISTAS
Crear una lista con 40 elementos aleatorios enteros.

Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos

In [164]:
import random as r

#FUNCIONES UTILIZADAS DE LAS LISTAS: SORT,APPEND,SET,LEN

LISTA=[]
LISTAPARES=[]
LISTAIMPARES=[]
'''2.Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, 
en la cual en una esten los elementos pares, y en la otra los elementos impares'''
def LISTAS(LISTA):
    #NUMEROS PARES
    for i in range(len(LISTA)):
        if LISTA[i]%2==0:
            LISTAPARES.append(LISTA[i])
    #NUMEROS IMPARES
        else:LISTAIMPARES.append(LISTA[i])
    LONGITUD1=len(LISTAPARES)
    LONGITUD2=len(LISTAIMPARES)
    
    return LISTAPARES,LISTAIMPARES,LONGITUD1,LONGITUD2 #SE MANDAN LISTAS y SE MANDAN LAS LONGITUDES

#CREANDO LISTA DE 40 ELEMENTOS
for i in range(40):
    ENTERO=r.randint(1,100)
    LISTA.append(ENTERO) 

print("LISTA CREADA ALEATORIAMENTE:\n",LISTA) #SE MUESTRA LISTA DE 40 ELEMENTOS
LISTA=list(set(LISTA))#SE ELIMINAN LOS REPETIDOS DE LA LISTA
#GUARDANDO EN VARIABLES LOS DATOS RETURN DE FUNCION
LISTAPARES,LISTAIMPARES,LONGITUD1,LONGITUD2=LISTAS(LISTA)

print("LISTAS DE NUMEROS\nPARES: ",LISTAPARES,"\nIMPARES: ",LISTAIMPARES,"\nLONGITUDES\nLISTA[1]: ",LONGITUD1,"\nLISTA[2]: ",LONGITUD2) 
LISTAPARES.sort(reverse=True)
LISTAIMPARES.sort()
print("LISTA PAR ORDENADA DE MAYOR A MENOR ",LISTAPARES)
print("LISTA IMPAR ORDENADA DE MENOR A MAYOR ",LISTAIMPARES)

LISTA CREADA ALEATORIAMENTE:
 [4, 42, 28, 11, 50, 18, 26, 16, 19, 1, 72, 83, 99, 99, 37, 19, 43, 85, 88, 1, 43, 62, 48, 21, 98, 75, 7, 80, 68, 27, 61, 20, 50, 63, 75, 58, 23, 47, 8, 91]
LISTAS DE NUMEROS
PARES:  [4, 8, 16, 18, 20, 26, 28, 42, 48, 50, 58, 62, 68, 72, 80, 88, 98]
IMPARES:  [1, 7, 11, 19, 21, 23, 27, 37, 43, 47, 61, 63, 75, 83, 85, 91, 99]
LONGITUDES
LISTA[1]:  17
LISTA[2]:  17
LISTA PAR ORDENADA DE MAYOR A MENOR  [98, 88, 80, 72, 68, 62, 58, 50, 48, 42, 28, 26, 20, 18, 16, 8, 4]
LISTA IMPAR ORDENADA DE MENOR A MAYOR  [1, 7, 11, 19, 21, 23, 27, 37, 43, 47, 61, 63, 75, 83, 85, 91, 99]

# Diccionarios
Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

Usando el diccionario y un loop, imprimir solo los nombres.

Añadir dos personas nuevas a tu diccionario, incluyendo edad

In [183]:
DICCIONARIO={'IRLANDA':21,'CECY':21,'MELENIE':20,"KEVIN":21,'NALLELI':22,'ALICIA':22}

LISTA=list(DICCIONARIO.values())
LISTA.sort()
print("EDADES ORDENADAS DE MENOR A MAYOR: ",LISTA)
NOMBRES=list(DICCIONARIO.keys())
i=0
while i<6:
    print(NOMBRES[i])
    i+=1
i=0
for i in range(2):
    NOMBRE=input("INGRESE NOMBRE: ")
    EDAD=int(input("INGRESE EDAD: "))
    DICCIONARIO['NOMBRE']=EDAD
print(DICCIONARIO)

EDADES ORDENADAS DE MENOR A MAYOR:  [20, 21, 21, 21, 22, 22]
IRLANDA
CECY
MELENIE
KEVIN
NALLELI
ALICIA
INGRESE NOMBRE: KASANDRA
INGRESE EDAD: 26
INGRESE NOMBRE: MARIA
INGRESE EDAD: 18
{'IRLANDA': 21, 'CECY': 21, 'MELENIE': 20, 'KEVIN': 21, 'NALLELI': 22, 'ALICIA': 22, 'NOMBRE': 18}

# Sets
Crea un set con 100 numeros aleatorios enteros del 1 al 25.

Comprueba la longitud de tu set.

Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [224]:
import random as r
CONJUNTO=set()
LISTA=[]
REPETIDOS=[]

while len(CONJUNTO)<10:
    NUMERO=r.randint(1,10)
    CONJUNTO.add(NUMERO)
    
print("TAMAÑO DEL CONJUNTO: ",len(CONJUNTO))
print(CONJUNTO)
print("LONGITUD: ",len(CONJUNTO))

for i in range(5):
    NUMERO=r.randint(1,10)
    LISTA.append(NUMERO)
print(LISTA)

for i in range(5):
    if (LISTA[i] in CONJUNTO)==True:
        REPETIDOS.append(LISTA[i])
    
print("VALORES DE LA LISTA QUE ESTAN EN EL CONJUNTO: ",REPETIDOS)

TAMAÑO DEL CONJUNTO:  10
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
LONGITUD:  10
[9, 2, 7, 4, 2]
VALORES DE LA LISTA QUE ESTAN EN EL CONJUNTO:  [9, 2, 7, 4, 2]

## NOTA:TARDABA LA EJECUCION HASTA EL 100, POR ESO EL RANGO MENOR, PERO IGUALMENTE DEBE DE JALAR CON 100